language: generic
sudo: required
services:
    - docker

before install:
    - docker build -t pk001/docker-react -f Dockerfile.dev .

script:
    - docker run -e CI=true pk001/docker-react npm run test